/* body */
html {
    position: relative;
    height: 100%;
}
body {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: whitesmoke !important;
    /* overflow-x: hidden; */
}
/* ----------- */



/* utility class */
.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap, 1rem)
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
/* --------------- */




/* primary header */
.primary-header{
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 0 1rem;

}

.primary-navigation {
    list-style: none;
    padding: 1rem;
    margin: 0;
    border-radius: 0.75rem;
    background: #202020;
    backdrop-filter: blur(1rem);
}

.primary-navigation a {
    color: white;
    font-weight: 900;
}

.mobile-nav-toggle{
    display: none;
}
/* -------- */





/* logo */
.logo {
    width: 10rem;
}
/* ----- */




/* nav Link */
.primary-navigation a:hover {
    color: #E0FFFF;
}
.primary-navigation a:active {
    color: rgb(255, 236, 202);
}
/* --------- */




/* particle js */
#particles-js {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -9999;
}
/* ------------- */


/* content */
.content{
    background-color: #353535;
    color: white;
    font-weight: 500;
    width: 100%;
    padding: 1rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
    border-radius: 1rem 0rem 1rem 0rem;
}
/* ------------ */


/* marquee */
.Marquee-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 70vw;
}

.Marquee {
    font-family: sans-serif;
    padding: 24px;
    color: #fff;
    white-space: nowrap;
    animation: marquee 30s infinite linear;
    
}

.btnupdate {
    border-radius: 2rem !important;
    background: linear-gradient(to right, #ff7d04 0%, #ec3900 40%);
    font-weight: bolder;
    color: whitesmoke !important;
    font-weight: 600 !important;
    
}
.table{
    border: 0 !important;
}
/* media query */
@media(max-width: 42em) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        background: hsl(0 0% 0% / 0.75);
        flex-direction: column;
        z-index: 1000;
        /* padding: 10rem 2em; */
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }
    .mobile-nav-toggle {
        display: block;
        z-index: 9999;
        position: absolute;
        background-color: transparent;
        background-image: url("../assets/icon-hamburger.svg");
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-color: transparent;
        background-image: url("../assets/icon-close.svg");
    }
}

@supports(backdrop-filter: blur(1rem)){
    .primary-navigation{
        background: rgba(10, 10, 10, 0.88);        
        backdrop-filter: blur(1rem);
    }


    .primary-navigation a {
        text-decoration: none;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-50%)
    }
}
/* ------------- */