.container-fluid{
  max-width: 80%;
  height: 50vh;
  background-color: black;
  border-radius: 2rem;
}
#textcolor{
  color: whitesmoke;
  text-align: center;
  text-shadow: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 2rem;
}